{% extends 'attendance_base.html' %}

{% block title %}

{% endblock title %}




{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Student ID</th>
          <th scope="col">Student Name</th>
        </tr>
      </thead>
      <tbody>

            {% for student in Students %}
                <tr>
                <th scope="row">{{ student.id }}</th>
                  <td>{{ student.student_id }}</td>
                  <td>{{ student.name }}</td>
                </tr>
            {% endfor %}

      </tbody>
    </table>



{% endblock content %}